/*Pseudoclases*/
.links-menu {
    padding: 1em 2em;
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: yellow;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid pink;
}

.links-menu:hover {
    color: pink;
    transform: scale(1.1);
    outline: 2px solid lightgoldenrodyellow;
    box-shadow: 4px 5px 17px -4px lightgoldenrodyellow;
}

.links-menu::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: lightgoldenrodyellow;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

.links-menu:hover::before {
    width: 250%;
}

button {
    padding: 1em 2em;
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: yellow;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid lightgoldenrodyellow;
}

button:hover {
    color: pink;
    transform: scale(1.1);
    outline: 2px solid;
    box-shadow: 4px 5px 17px -4px;
}

button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: lightgoldenrodyellow;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

button:hover::before {
    width: 250%;
}
