/*Importación*/
@import "fuentes";
@import "menudisplay";
@import "menuhamburguesa";

/*Creacion de Variables*/
/*Variables Globales*/
$color-back: black;
$bordes: 1px solid yellow;
$color-a: yellow;

/*Anidación*/
header{
    font-family: $font-principal;
    background-color: pink;
    nav{
        padding: $relleno;
        ul{
            list-style-type: none;
            li{
                a{
                    color: $color-a;
                }
            }
        }
    }
}

/*Condicional IF*/
$color: grey;

.caja{
    @if ($color==grey){
        background-color: grey;
    } @else if ($color==green){
        background-color: green;
    } @else{
        background-color: black;
    }
}
/*Ciclo FOR*/
@for $i from 1 through 6{
    h#{$i}{
        font-size: $i * 1rem;
    }
}
/*Bucle Each*/
$lista1: red, green, yellow;

@each $color in $lista1{
    .#{$color}{
        background-color: $color;
    }
}
/*Mapas*/
$estilos: (
    color: yellow,
    centro: center,
    tFuente: 10px,
    1rem: 1rem
);
/*Extend*/
.card23{
    background: #fff;
    border-radius: 4px;
    padding: $relleno;
}
.card1{
    background-color: pink;
}
.avatar{
    width: 100px;
    height: 100px;
    @extend .card23;
}
/*Mixins*/
@mixin crearBordes($colorBorde, $size, $shadow){
    border: $size solid $colorBorde;
    border-radius: 10px;
    box-shadow: 0px 0px $size $shadow;
}

.img23{
    @include crearBordes(red, 10px, black);
}
.img23-avatar{
    @include crearBordes(blue, 15px, yellow);
}

/*Animaciones*/
.navegacion{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*padding: 1rem;*/
    /*Gradientes*/
    /*background-image: radial-gradient(yellow,pink);*/
    /*background-image: radial-gradient( circle 489px at 49.3% 46.6%,  rgba(255,214,126,1) 0%, rgba(253,200,0,1) 100.2% );*/
}

.logo-banana{
    width: 80px;
    animation-name: logo-bananin;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-delay: 1s;
    /*Transformaciones*/
    /*transform: translate(200px,100px);*/
}

@keyframes logo-bananin{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

*{
    padding: 0;
    text-align: center;
    margin: 5px;
}

.body1{
    background-color: pink;
}
/*Ciclo FOR*/
h1 {
    font-size: 2rem;
}
.h2-nosotros{
    background-color: lightgoldenrodyellow;
}
h2 {
    font-size: 2rem;
    background-color: pink;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 2rem;
}
h1{
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: map-get($map: $estilos, $key: tFuente);
    font-weight: bold;
    color: map-get($map: $estilos, $key: color);
    text-align: center;
}

section{
    margin-left: 30px;
    text-align: center;
    background-color: pink;
}

section article p{
    font-size: 20px;
    text-align: center;
    background-color: pink;
}

.main-nosotros{
    background-color: pink;
}
.section-nosotros{
    background-color: lightgoldenrodyellow;
    padding: 60px;
    max-width: 600px;
    height: auto;
    border-radius: 20px;
    margin: auto;
    text-align: left;
}
.h1-nosotros{
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
}
.p-nosotros{
    text-align: left;
}
.foto-equipo{
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-equipo{
    justify-content: center;
}
.foto-equipo p{
    max-width: 450px;
    margin-top: 15px;
}
.contenedora-equipo{
    text-align: center;
    max-width: 300px;
    overflow: hidden;
    background-color: lightgoldenrodyellow;
    border-radius: 20px;
}
.contenedora-equipo img{
    width: 100%;
    border-radius: 20px;
}
.contenedora-equipo p{
    text-align: left;
}
.negrita{
    font-size: 1.2em;
    font-weight: 700;
}
.articulo {
    color: yellow;
    text-align: center;
    background-color: pink;
}
.contenedor-texto{
    text-align: center;
}
.col{
    flex: 1 0 0%;
}
.card-img-shop{
    width: 200px;
    border-radius: 10px;
}
.card-title{
    font-size: 1rem;
}
.card{
    justify-content: center;
    --bs-card-spacer-y: 0rem;
}
#articulo{
    display: flex;
}


.links-menu {
    text-align: right;
    color: yellow;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.agus-banana {
    width: 400px;
}
#pie {
    text-align: center;
    background-color: pink;
}

#footer {
    height: 50px;
}

a {
    color: yellow;
}
main{
    background-color: pink;
}
#main-nosotros {
    border: 1px solid black;
    background-image: url("../media/productos/banana1.jpg");
    background-size: cover;
    background-position: 0%;
    height: 1000px;
    width: 100%;
}


/*Selectores*/
/*Selectores Etiqueta*/
h1 {
    font-size: 30px;
}
ul {
    list-style-type: none;
}
ol{
    list-style-type: none;
}

/*FlexBox*/
.flex-container{
    border: 1px solid black;
    background-color: #ccc;
    padding: 10px;
    margin: 10px;
    height: 500px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;
}
.caja{
    width: 120px;
    height: 120px;
    border: 1px solid grey;
    margin: 5px;

    color: black;
    font-weight: bold;
    text-align: center;
}

.c1{
    background-color: green;
    order: 3;
}
.c2{
    background-color: blue;
    order: 2;
}
.c3{
    background-color: yellow;
    order: 1;
}


/*Box-Modeling*/
.box-modeling {
    border: 2px solid black;
}
.box-modeling h1 {
    font-size: 30px;
}

/*CSS GRIDS*/


/*Grids Areas
#grilla {
    display: grid;
    grid-template-areas: 
    "nav    header      header"
    "nav    productos   publicidad"
    "nav    servicios   publicidad"
    "nav    footer      footer"
    ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 75px;
}*/

.border {
    border: 1px solid black;
}

.grid-container{
    display: grid;
    grid-template-columns: 150px auto 150px;
    gap: 10px;
}
.grid-container > *{
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
    display: grid;
    justify-content: center;
    align-items: center;
    text-overflow: clip;
    
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}
header, footer{
    grid-column: 1 / span 3;
}

nav{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: pink;
}

.links-menu{
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.grupo{
    width: 500px;
    margin: 20px auto;
    background: black;
    padding: 1px;
    font-size: 20px;
}

.bi-instagram{
    font-size: 30px;
}

#form-contact{
    padding: 50px;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    background-color: lightgoldenrodyellow;
}

.boton-form{
    background-color: black;
    margin: 1rem;
}
.form-container{
    display: grid;
    gap: 1em;
}
.input-name{
    margin: auto;
    width: 350px;
    padding: 8px;
    border-radius: 12px;
    border: 1px lightgoldenrodyellow solid;
}

/*first and last type
.parrafos p:first-child{
    color: lightgoldenrodyellow;
}

.parrafos p:last-child{
    color: lightgoldenrodyellow;
}

.elementos p:first-of-type{
    background-color: purple;
    color: darkblue;
}
.elementos :nth-child(2){
    background-color: red;
    color: green;
}
*/

/*MediaQueries
@media screen and (max-width: 479px){
    #grilla{
        height: 500px;
        display: grid;
        grid-template-areas: 
        "nav"
        "header"
        "productos"
        "servicios"
        "publicidad"
        "pie";
        grid-template-columns: 100%;
        grid-template-rows: repeat(6,1fr);
    }
}*/
@media screen and (min-width: 767px){
    .div-equipo{
        display: flex;
    }
}
@media screen and (min-width: 480px) and (max-width: 959px){
    .grid-container{
        background-color: pink;
    }
}

@media screen and (min-width: 1200px) {
    .grid-container{
        grid-template-columns: auto;
    }
}
@media all and (max-width: 600px){
    aside, article{
        grid-column: 1 / span 3;
    }
    
    .grid-container{
        grid-template-rows: repeat(5, 100px);
}
}
